<% require 'coderay' %>
Paste: <%= @paste.title %>
Expires: <%= @paste.expiration %>
Exposure: <%= exposure_str(@paste) %>
Language: <%= @paste.language %>

<div class="paste_content">
    <% code = @paste.content %>
    <% cache Digest::SHA1.hexdigest(code) do %>
        <%=raw CodeRay.scan(code, @paste.language_code).div(:line_numbers => :table) %>
    <% end %>
</div>
