Paste: <%= @paste.title %>
Expires: <%= @paste.expiration %>
Exposure: <%= exposure_str(@paste) %>
Content:
<div class="paste_content">
    <ol class="content_list">
        <% content_lines(@paste).each_with_index do |line, i| %>
        <li class="content_line" id="l<%= i + 1 %>"> <%= line %> </li>
        <% end %>
    </ol>
</div>