<% require 'coderay' %>

<div id='paste_info_container'>
    <%= @paste.title %> | 
    Expires: <%= @paste.expiration.strftime('%e-%m-%y %H:%M') %> | <%= exposure_str(@paste) %> |  
    Language: <%= @paste.language ? @paste.language : 'None' %>
    <% if signed_in? && @paste.user_id == current_user.id %>
        <%= render 'delete_paste', :paste => @paste %>
    <% end %>
</div>

<div class="paste_content">
    <% code = @paste.content %>
    <% cache Digest::SHA1.hexdigest(code) do %>
        <%=raw CodeRay.scan(code, @paste.language_code).div(:line_numbers => :table) %>
    <% end %>
</div>
