<div class="paste_brief">
    <div class="container-fluid">
        <div class="row cutoff_row">
            <%= link_to paste.title, paste %> 
        </div>
        <div class="row cutoff_row">
            <%= paste.language ? paste.language : 'None' %>
        </div>
        <div class="row cutoff_row">
            by 
            <% if paste.user %>
            <%= paste.user.name %>
            <% else %>
            <%= "Anoynymous" %>
            <% end %>
        </div>
        <div class="row icon_row">
        <% if signed_in? && current_user.admin %>
            <%= render 'delete_paste', :paste => paste %>
        <% end %>
        </div>
    </div>
</div>
