<% provide(:title, 'Pastes') %>


<div id="paste_index">
    <% if signed_in? %>
        <h1>My pastes</h1>
        <% if @user_pastes.empty? %>
            None yet, why not <%= link_to "create", root_path %> one? 
        <% else %>
            <div class="container paste_brief_container">
                <%= render @user_pastes, :for_user => true %>
            </div>
        <% end %>
        <div class="flickr_pagination">
            <%= will_paginate @user_pastes, :param_name => 'priv_page' %>
        </div>
    <% end %>

    <h1>Public pastes</h1>
    <div class="container paste_brief_container">
        <%= render @pastes  %>
    </div>
</div>
<div class="flickr_pagination">
    <%= will_paginate @pastes, :param_name => 'public_page' %>
</div>
