<div id="mainFrame">

    <%= form_for(@paste) do |f| %>
      <%= render 'shared/error_msgs', object: @paste %>
      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => "- title -" %>

      <%= f.select(:language, ['None', 'Java', 'C++', 'Python'])  %>
      <%= f.select(:expiration, [['1 day', 1.days.from_now], ['1 week', 1.week.from_now], ['1 month', 1.month.from_now], ['Never', 1000.years.from_now]]) %>

      <%= f.select(:exposure, [['Public', 1], ['Private', 0]]) %>
      <%= f.text_area :content, :placeholder => "- paste here -", :required => true %>
      <%= f.submit "push()" %>
    <% end %>

    <div id="search">
        <%= render 'search' %>
    </div>
</div>

<div id="sideFrame">
        Recently pasted:
        <table id="historyTable">
            <tbody>
              <% recent_pastes.each do |p| %>
              <tr><td> <%= link_to p.title, p %> </td></tr>
              <% end %>
            </tbody>
        </table>
        <%= link_to 'hide', '', :id => 'hide_history_btn' %>      
</div>