<div class="row">
  
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :email , placeholder: 'Email', :required => true %>

      <%= f.password_field :password , placeholder: 'Password', :required => true %>
<br>
      <%= f.submit "Log in", id: "session_button" %>
    <% end %>
    <%= link_to "Log in with google", "/auth/google_oauth2" %>
    | New user? <%= link_to "Sign up now!", signup_path %>
  </div>
 


