<!DOCTYPE html>
<html>
<head>
  <title>Pastestack</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <!-- No async linking allowed by HTML validator :( -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="login">
    <% if signed_in? %>
	        Welcome, <%= current_user.name %>!
        <%= link_to "Sign out", logout_path, method: "delete" %>
	<% else %>
        <%= render 'layouts/login' %>
    <% end %>
	</div>
	<div class="container">
    	<%= yield %>
	</div>
	 
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
</body>
</html>
       
    